<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="./logs/sdk.log"
			filePattern="./logs/sdk-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>%d %-5p [%t] %C{2} (%F:%L) - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="200" />
		</RollingFile>
		
		<Async name="ASYNC">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="STDOUT" />
		</Async>
	</Appenders>
	<Loggers>
		<logger name="com.x" level="debug" >
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="STDOUT" />
		</logger>
		<logger name="org" level="debug" additivity="false">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="STDOUT" />
		</logger>
		<Root level="info">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="STDOUT" />
		</Root>
		<logger name="com.mybatis" additivity="true">
			<level value="DEBUG" />
		</logger>
		<logger name="java.sql" additivity="true">
			<level value="debug" />
		</logger>
		<logger name="java.sql.ResultSet" additivity="true">
			<level value="info" />
		</logger>
		<logger name="org.apache" additivity="true">
			<level value="info" />
		</logger>
		<logger name="java.sql.Connection" additivity="true">
			<level value="debug" />
		</logger>
		<logger name="java.sql.Statement" additivity="true">
			<level value="debug" />
		</logger>
		<logger name="java.sql.PreparedStatement" additivity="true">
			<level value="debug" />
		</logger>
	</Loggers>

</Configuration>